In [ ]:
#IDEIA CENTRAL:

# MONTAR UM ARQUIVO, SEGUINDO UM LAYOUT. ONDE SERÁ ESPCIFICADO O TÍTULO DA DIVIDA, O VALOR DA DÍVIDA, QUANTIDADE
# DE PARCELAS E DATA DE VENCIMENTO DA ÚLTIOMA PARCELA.

# LAYOUT : ITEM | QTD.PARCELAS | VLR.PARCELA |

In [88]:
import os
import pandas as pd

In [89]:
from datetime import datetime
now    = datetime.now()
meses  = ['', 'janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho', 'julho', 'agosto', 'setembro', 'outubro', 'novembro', 'dezembro']

In [95]:
#Diretório para Windows
with open('D:\\JupyterFiles\\DataScience\\JupyterFiles\\ControleFinanceiro\\contas.txt', 'w') as arq:
    arq.write('Creche | -1 | 200.00\n')
    arq.write('Casa | -1 | 100.00\n')
    arq.write('Faculdade | -1 | 380.00\n')
    arq.write('Controle Ps4 | -1 | 28.00\n')
    arq.write('Man.Carro | 3 | 293.00 | 032019 \n')
    arq.write('Celular | 3 | 180.00 | 102019 \n')
    arq.write('Gasolina | -1 | 200.00 \n')
    arq.write('Gasolina | -1 | 50.00 | 032019\n')
    arq.write('Crédito | -1 | 40.00 \n')

In [ ]:
#Diretório para o Linux.
with open('/home/vcalazans/JupyterFiles/ControleFinanceiro/contas.txt', 'w') as arq:
    arq.write('Creche | -1 | 200.00\n')
    arq.write('Casa | -1 | 100.00\n')
    arq.write('Casa | -1 | 100.00\n ')
    arq.write('Faculdade | -1 | 380.00\n')
    arq.write('Controle Ps4 | -1 | 28.00\n')
    arq.write('Man.Carro | 3 | 293.00 | 032019 \n')
    arq.write('Celular | 3 | 180.00 | 102019 \n')

In [96]:
#data no padrão (mmaaaa)
colunas = ['Item', 'Qtd.Parcelas', 'Vlr.Parcelas', 'Fim.Vig']
contas = pd.read_table('contas.txt', sep = '|', encoding = 'ISO-8859-1', header = None, names = colunas)

In [97]:
contas

            Item  Qtd.Parcelas  Vlr.Parcelas   Fim.Vig
0        Creche             -1         200.0       NaN
1          Casa             -1         100.0       NaN
2     Faculdade             -1         380.0       NaN
3  Controle Ps4             -1          28.0       NaN
4     Man.Carro              3         293.0   32019.0
5       Celular              3         180.0  102019.0
6      Gasolina             -1         200.0       NaN
7      Gasolina             -1          50.0   32019.0
8       Crédito             -1          40.0       NaN

In [98]:
dividas       = 0.00
strValor      = ''
baseCalc      = 2100.0
investimentos = 400.0

#Soma o total a pagar
for vlr in contas['Vlr.Parcelas']:
    strValor = str(vlr)
    dividas += float(strValor)

dtAtual = str(now.month) + str(now.year)
dtFimVig = ''

contador = 0
#Verifica se tem alguma divida já quitada!
for dt in contas['Fim.Vig']:
    dtFimVig = str(dt)
   
    if float(dtAtual) == float(dtFimVig):
        print('Registro ', contador, ' Acaba este mês!')
    
    if int(dtAtual) > float(dtFimVig):
        print('Registro ', contador, ' Já acabou!')
    
    contador += 1

print('\n Total : R$',soma, 'in', meses[now.month + 1]) # + 1 pois estou sempre prevendo o mês seguinte

#Sobras do mês.
print('\n Sobra do mês : R$', baseCalc - (dividas + investimentos))

 Total : R$ 1481.0 in março

 Sobra do mês : R$ 229.0