In [ ]:
#IDEIA CENTRAL:

# MONTAR UM ARQUIVO, SEGUINDO UM LAYOUT. ONDE SERÁ ESPCIFICADO O TÍTULO DA DIVIDA, O VALOR DA DÍVIDA E A QUANTIDADE
# DE PARCELAS.

# LAYOUT : ITEM | QTD.PARCELAS | VLR.PARCELA |

In [8]:
import os
import pandas as pd

In [79]:
with open('/home/vcalazans/JupyterFiles/ControleFinanceiro/contas.txt', 'w') as arq:
    arq.write('Note book | 10 | 220.00 \n')
    arq.write('Creche | -1 | 200.00\n')
    arq.write('Casa | -1 | 100.00\n')
    arq.write('Udemy | 2 | 50.00\n')
    arq.write('Bolsa | 3 | 75.00\n')
    arq.write('Casa | -1 | 100.00\n')
    arq.write('Faculdade | -1 | 380.00\n')
    arq.write('Controle Ps4 | -1 | 28.00\n')
    arq.write('Man.Carro | 3 | 293.00\n')

In [80]:
colunas = ['Item', 'Qtd.Parcelas', 'Vlr.Parcelas']
contas = pd.read_table('contas.txt', sep = '|', header = None, names = colunas)

In [81]:
contas

            Item  Qtd.Parcelas  Vlr.Parcelas
0     Note book             10         220.0
1        Creche             -1         200.0
2          Casa             -1         100.0
3         Udemy              2          50.0
4         Bolsa              3          75.0
5          Casa             -1         100.0
6     Faculdade             -1         380.0
7  Controle Ps4             -1          28.0
8     Man.Carro              3         293.0

In [69]:
soma = 0.00
strValor = ''
for vlr in contas['Vlr.Parcelas']:
    strValor = str(vlr)
    soma += float(strValor)
    
soma

1446.0